//    Zettle SDK
//
//    ZETTLE_CLIENT_ID - Auto generated client id from developer portal for this application
//    ZETTLE_SCHEME - OAuth redirect url scheme set on developer portal for this application
//    ZETTLE_HOST - OAuth redirect url scheme set on developer portal for this application
ZETTLE_CLIENT_ID="YOUR_ZETTLE_APP_CLIENT_ID"
ZETTLE_SCHEME="YOUR_ZETTLE_SCHEME"
ZETTLE_HOST="YOUR_ZETTLE_HOST"